@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


/*general*/
h1,.h1 {
	color: black;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: 0.5px;
        font-family: 'Bebas Neue', cursive;
}

h2,.h2 {
	color: black;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: 0.4px;
        font-family: 'Bebas Neue', cursive;
}

h3,.h3 {
	color: black;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: 0.2px;
        font-family: 'Bebas Neue', cursive;
}

h4,.h4 {
	color: black;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: 0.2px;
        font-family: 'Bebas Neue', cursive;
}

h5,.h5 {
	color: black;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
        font-family: 'Bebas Neue', cursive;
}

h6,.h6 {
	color: black;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
        font-family: 'Bebas Neue', cursive;
}

img{
        border-radius: .5rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
        font-family: 'Signika', sans-serif;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
        font-family: 'Signika', sans-serif;
}

a  , a:focus{
        text-decoration: none;
}





/*NAVBAR*/
.navbar {
  border-bottom: 10px solid #0092ff;
  background-color: rgb(72, 72, 72);
  /*box-shadow: 0 0 30px rgba(0, 255, 0, 0.694);*/
}

.navbar{
        background-color: #fcfafb;
}

.navbar a{
        color:black;
}
.logotext{
        font-family: 'Fredoka One', cursive;
}
.href:hover{
        color : red;
        font-family: 'Fredoka One', cursive;
}
.href{
        font-family: 'Fredoka One', cursive;
}


/*HERO*/
.head_text{
        font-family: 'Fredoka One', cursive;
        font-size: 3.5rem;
	line-height: 5.25rem;
	letter-spacing: 0.5px;
}

.head_para{
        font-family: 'Concert One', cursive;
        font-size: 1.3rem;
	line-height: 2.25rem;
	letter-spacing: 0.3px;
}
.head_btn{
        font-family: 'Concert One', cursive;
        font-size: 1.7rem;
	line-height: 2.25rem;
	letter-spacing: 0.3px;
}
.image{
        position:relative;
}
.image img{
        position:absolute;
        top:10%;
        width:80%;
}

.add_border{
        border : 2px solid black;
        padding : 3px;
        border-radius:10px;
        color:red;
}
.add_border:focus , .add_border:hover{
        background-color:black;
        color:white;
}


@media only screen and (max-width: 750px) {
        .head_text{
        font-family: 'Fredoka One', cursive;
        font-size: 1.5rem;
	line-height: 1.50rem;
	letter-spacing: 0.5px;
        }

        .image{
                position:relative;
        }
        .image img{
                position:relative;
                top:10%;
                width:100%;
        }

.head_para{
        font-family: 'Concert One', cursive;
        font-size: 1.0rem;
	line-height: 1.25rem;
	letter-spacing: 0.3px;
}
.head_btn{
        font-family: 'Concert One', cursive;
        font-size: 1.7rem;
	line-height: 2.25rem;
	letter-spacing: 0.3px;
}
}

@media only screen and (max-width: 850px) {
        .head_text{
        font-family: 'Fredoka One', cursive;
        font-size: 1.5rem;
	line-height: 1.50rem;
	letter-spacing: 0.5px;
        }

        .image{
                position:relative;
        }
        .image img{
                position:relative;
                top:10%;
                width:100%;
        }

.head_para{
        font-family: 'Concert One', cursive;
        font-size: 1.0rem;
	line-height: 1.25rem;
	letter-spacing: 0.3px;
}
.head_btn{
        font-family: 'Concert One', cursive;
        font-size: 1.7rem;
	line-height: 2.25rem;
	letter-spacing: 0.3px;
}
}


/*main div --2 */
.A{
        font-family: 'Fredoka One', cursive;
        font-size: 1.5rem;
	line-height: 1.50rem;
	letter-spacing: 0.5px;
}

.B{
        background-color:lightyellow;
        border:5px solid black;
        border-radius: 25px;
        font-family: 'Bebas Neue', cursive;
}


/*MAIN DIV -- 3*/

.main_div img {
        width: 100%;
}
.C .h4{
        font-family: 'Concert One', cursive;
}

.unread{
        width:100%;
        height:40px;
        color:white;
        background-color:red;
}
.B1{
        background-color:lightyellow;
        
        font-family: 'Bebas Neue', cursive;
}
.D{
        border:3px solid black;
        border-radius:20px;
}

a{
        text-decoration:none;
        color:black;
}
a:hover , a:focus{
        text-decoration:none;
        color:black;
}

/* FOOTER */
footer {
  position: relative;
  bottom:0;
  background-color: rgb(80, 80, 80);
  width: 100%;
  height:1000px;
  border-top: 10px solid rgb(220, 220, 220);
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
}

footer a:hover{
        color:white;
        cursor:pointer;
        border : none;
        border-bottom : 1px solid white;
}

.profile{

        position:fixed;
        top:80px;
        left:10px;
        width:300px;
        background-color:lightyellow;
        box-shadow: 0 0 30px rgba(0, 255, 0);
        z-index:1;
        display:none;
}